:root {
    --altoHeader: 80px;
    --altoFooter: 75px;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}
header {
    height: var(--altoHeader);
    background: #4e9645;
    color: white;
    padding: 15px;
    text-align: center;
}
h1, h3, p {
    margin: 0;
}
main {
    min-height: calc(100vh - 30px*2 - 20px*2 - 15px*2 - 15px - (var(--altoFooter) + var(--altoHeader)));
    max-width: 1250px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 0px;
    & tr > td:nth-child(n+3) {
        a {display: block; margin-top: 10px; margin-bottom: 10px;}
        a:first-child {margin-top: 0px;}
        a:last-child {margin-bottom: 0px;}
    }
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-radius: 8px;
    transition: 0.3s;
}
th {
    background-color: #4e9645;
    color: white;
}
td {
    background: #ecf0f1;
}
tr:hover td {
    background: #d6f8d6;
}
ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
li {
    background: #ecf0f1;
    margin: 10px 0;
    padding: 0px;
    border-left: 5px solid #34db34;
    transition: 0.3s;
    border-radius: 8px;
    & a {
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
    }
}
li:hover {
    background: #d6f8d6;
    border-left: 5px solid #70bc1a;
    transform: scale(1.03);
}
a {
    text-decoration: none;
    color: #0077cc;
}
a:hover {
    color: #005fa3;
}
footer {
    padding-top: 15px;
    margin: auto;
    background-color: #459650;
    text-align: center;
    height: var(--altoFooter);
    color: white;
    
    a {
        text-decoration: aquamarine wavy underline;
        color: aquamarine;
        transition: 0.3s;
    }
    a:hover {
        color: blue;
        mix-blend-mode: multiply;
        text-decoration: none;
    }
    p {
        line-height: 30px;
    }
}
tr > td > a {line-height: 14px;}
table > * > tr > *  {text-align: center;}
table > * > tr > *:nth-child(2)  {text-align: left;}

form {
    text-align: center;
    margin-bottom: 5px;
    & > table.sql {
        margin: 0 auto;
        max-width: 500px;

        & tr > * {text-align: center;}
        & a {display: block;}
        & input[type="submit"] {
            background: none;
            border: none;

            display: block;
            text-align: center;
            width: 100%;

            cursor: pointer;
            
            font-size: 16px;
            line-height: 14px;
            text-decoration: none;
            font-family: Arial, sans-serif;
            color: #0077cc;
        }
        & input[type="submit"]:hover {
            color: #005fa3;
        }
    }
    & > table.sql:nth-of-type(1) {
        border-collapse: separate;
        border-spacing: 0 1px;
    }
}